body {
    font-family: "Arial", sans-serif;
}

#header {
    font-size: 1.5em;
    text-align: center;
}

.container {
    border: solid;
    display: table;
    height: 480px;
    margin: 0 auto;
    width: 480px;
}

.row {
    display: table-row;
    width: 100%;
}

.col {
    border: thin solid;
    display: table-cell;
    padding: 2%;
}

.btn-group {
    margin: 2% auto;
    text-align: center;
}

.btn {
    background: #555555;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
}

.btn:focus {
    outline: none;
}