body {
    font-family: "Arial", sans-serif;
}

#header {
    font-family: 'Satisfy', cursive;
    font-size: 1.7em;
    text-align: center;
}

.container {
    border: solid;
    display: table;
    height: 360px;
    margin: 15% auto;
    width: 90%;
}

.row {
    display: table-row;
    width: 100%;
}

.col {
    border: thin solid;
    display: table-cell;
}

.btn-group {
    margin: 5% auto;
    text-align: center;
}

.btn {
    background: #555555;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    opacity: 0.65;
    padding: 15px 32px;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 1;
}

.btn:focus {
    outline: none;
}

#btn-clear {
    background: #ec1629;
}

/* For tablets and desktops */
@media only screen and (min-width: 600px) {
    .container {
        height: 480px;
        margin: 0 auto;
        width: 480px;
    }

    .btn-group {
        margin: 2% auto;
    }
}